.lk .tabs__content.messages .edit-game.edit-game-points {
    background-color: transparent;
    height: 0;
    margin-top: 0;
}
.lk .tabs__content.messages .wrap-icon.wrap-icon-message .icon {
    text-align: center;
    color: #fff;
    font-size: 32px;
    padding-top: 30px;
    width: 93px;
    height: 93px;
    background: url(/local/templates/portal/assets/images/lk-message.png);
}

.lk .tabs__content.messages .comment-block.comment-block-message .u-icon {
    text-align: center;
    color: #fff;
    font-size: 19px;
    padding-top: 22px;
    width: 62px;
    height: 62px;
    background: url(/local/templates/portal/assets/images/lk-message.png);
    background-size: cover!important;
    background-position: 50%!important;
}